/* Estilos para la barra de búsqueda */
.search-container {
    margin: 20px 0;
    text-align: center;
}

#search-input {
    width: 70%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#search-input:focus {
    outline: none;
    border-color: #007bff; /* Cambia el color de borde al enfocar */
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; /* Cambia el color al pasar el mouse sobre él */
}
